/* FOOTER */
.footer {
    margin-top: 7rem;
    text-align: center;
    background-color: var(--cor-fundo-laranja-claro);
    border-top: 2px solid var(--cor-marrom);
}

.footer .container {
    padding: 5rem 0;
}

.footer h2 {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-normal);
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 25px;
}