:root {
    --cor-primaria: #d5cfbe;
    --cor-secundaria: #d3643b;    
    --cor-marrom: #403b33;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-cinza-escuro: #dfd4bf;
    --cor-fundo-laranja-claro: #d3643b;    
  }
    
  :root {
    --fonte-primaria: Barlow, sans-serif;
    --fonte-secundaria: Barlow, sans-serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 5rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }